<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="readable">
        <h1>Administration</h1>
        <p>
            Bienvenue dans l'administration de la loterie des Hêtres Pourpres.
        </p>
        <table>
            <caption>Catégories</caption>
            <tr><th>Id</th><th>Nom</th></tr>
            {% for category in categories %}
                <tr><td>{{ category.id }}</td><td>{{ category.name }}</td></tr>
            {% endfor %}
        </table>
    </section>
</body>
</html>