<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section class="readable">
        <form action="/admin" method="POST">
        <h1>Administration</h1>
        <p>
            Bienvenue dans l'administration de la loterie des Hêtres Pourpres.
        </p>
            <table>
                <caption>Catégories</caption>
                <tr><th>Id</th><th>Nom</th><th></th></tr>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>
                            <input type="text"
                                name="category-name-{{ category.id }}"
                                value="{{ category.name }}">
                        </td>
                        <td>
                            <button name="delete-category" value="{{ category.id }}">Supprimer</button>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td><input type="text" name="category-name"></td>
                    <td><button name="add-category" value="1">Ajouter</button></td>
                </tr>
            </table>
            <table>
                <caption>Utilisateurs</caption>
                <tr><th>login</th><th>Password</th><th>Prénom</th><th>Nom</th><th></th></tr>
                {% for user in users %}
                    <tr>
                        <td><input type="text" value="{{ user.login }}"></td>
                        <td><input readonly type="text" value="******"></td>
                        <td><input type="text" value="{{ user.first_name }}"></td>
                        <td><input type="text" value="{{ user.last_name }}"></td>
                        <td><button name="delete-user" value="{{ user.login }}">Supprimer</button></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><input type="text" name="user-login"></td>
                    <td><input type="password" name="user-password"></td>
                    <td><input type="text" name="user-first-name"></td>
                    <td><input type="text" name="user-last-name"></td>
                    <td><button name="add-user" value="1">Ajouter</button></td>
                </tr>
            </table>
        </form>
    </section>
</body>
</html>