<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choix du ticket</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <form action="" class="readable" method="POST">
        <h1>Choix du ticket</h1>
        <p>Tickets : {{ solved_ticket_count }} résolus sur {{ unsolved_ticket_count }}</p>
        <section>
            <h2>Categories</h2>
            <select name="ticket-category">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </section>
        {% if picked_ticket is none %}
        <button name="pick-ticket" value="1">Piocher un ticket</button>
        {% else %}
        <section>
            <h2>Ticket pioché: {{ picked_ticket.name }}</h2>
            <p>{{ picked_ticket.description }}</p>
            <button name="accept-ticket" value="{{ picked_ticket.id }}">Accepter</button><button>Remettre dans la machine</button>
        </section>
        {% endif %}
    </form>
</body>
</html>