<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotterie Pourpre</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section class="readable">
        Si un ticket a été pioché :
        <h1>Ticket en cours</h1>
        <img src="res/machine-lotterie.png" alt="Machine Lotterie">
        <p>Description du ticket</p>
        <button>Remettre dans la machine</button>
        <section>
            Sinon :
            <a class="button" href="choice">Piocher un ticket</a>
        </section>
    </section>
</body>
</html>