<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotterie Pourpre</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <form action="" method="POST" class="readable">
        <h1>{{ ticket.name }}</h1>
        <p>{{ ticket.description }}</p>
        <button name="unpick-ticket" value="{{ ticket.id }}">Remettre le ticket dans la machine</button>
        <button name="resolve-ticket" value="{{ ticket.id }}">Marquer le ticket comme résolu</button>
    </form>
</body>
</html>