<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <section class="readable">
        <h2>Connexion</h2>
        <form method="POST">
            <div>
                <label for="username">Nom d'utilisateur</label><input type="text" name="username" id="username">
                <label for="password">Mot de passe</label><input type="password" name="password" id="password">
            </div>
            <button>Connexion</button>
        </form>
    </section>
</body>
</html>