<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des tickets</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'header.html' %}
    <form action="" method="POST" class="readable">
        <h2>Liste des tickets</h2>
        {% for category in categories %}
        <section>
            <table>
                <caption>{{ category.name }}</caption>
                <tr>
                    <th>#</th><th>Nom</th><th>Possesseur</th><th>Traité</th><th></th>
                </tr>
                {% for ticket in category.tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td><a href="/admin/tickets/{{ ticket.id }}">{{ ticket.name }}</a></td>
                    <td>{{ ticket.owner.first_name }}</td>
                    <td class="centered-text">{% if ticket.is_treated %} oui {% else %} non {% endif %}</td>
                    <td><button name="delete-ticket" value="{{ ticket.id }}">Supprimer</button></td>
                </tr>
                {% endfor %}
            </table>
        </section>
        {% endfor %}
    </form>
</body>
</html>